body {
	margin: 0;
	padding: 0;
	
	font-family: 'Montserrat', sans-serif;
	/*background-image: url(images/beach.jpg);*/

	background-color: url(239, 239, 237);
}

h1 {
	text-align: center;
	padding-top: 5%;

	color: #d9534f;
	font-size: 25pt;
	font-weight: 800;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	padding: 12vh 0 30vh 10vw;
}

.quastion {
	font-size: 18pt;
}

.answer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	padding-left: 15vw;

	font-size: 15pt;
}

.a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 1vh 0;
}

a, button {
	text-decoration: none;
	color: rgb(239, 239, 237);
	font-size: 15pt;
	/*color: #96ceb4;*/
	font-weight: 600;


	background-color: #d9534f;
	padding: 25px 50px;
	cursor: pointer;
	border: none;
}

a:hover, button:hover {
	color: #d9534f;
	background-color: #96ceb4;

	transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.button, button {
	display: flex;
	justify-content: center;
}